.App {
  display: flex;
  justify-content: center;
  margin: 0 auto;
    /* background:  #262626;  */
  /* background: #f8f8f8; */
   text-align: center;
    /* border: solid  red 1px; */
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
