.greeting {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    font-size: 140px;
    margin-top: 0;
    margin-bottom: 0;
    /* border: solid blue 1px; */
}
.welcome.about {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: left;
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 600;
    /* font-size: 40px; */
    /* border: solid red 1px; */
    margin-left: 75px;

}

.about-list {
    /* text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    padding-bottom: 15px;
    margin-top: 30px;
    /* margin-left: 180px; */
    color: #595959;
    font-family: 'Roboto', sans-serif;
    /* border: solid blue 1px; */
    width: 75vw;

}
.description {
    font-size: 22px;
    padding-bottom: 20px;
        /* text-transform: uppercase; */
        font-weight: 500;


}
