nav {
    position: absolute;
    top: 0;
}

.welcome {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    font-size: 40px;
    /* color: #404040; */
    /* border: solid blue 1px; */

}

.greeting {
    text-transform: capitalize;
    font-family: 'Roboto', sans-serif;
    padding-top: 80px;
    font-size: 180px;
    margin-bottom: 0;
    /* border: solid blue 1px; */


}

.welcome, p {
    /* margin: 8px 0; */
    /* font-weight: 900; */
    font-size: 20px;
    margin: 0;
  
}

.author {
    font-weight: 900;
}
.greeting-content {
    text-align: center;
    /* border: solid blue 1px; */
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #595959;
    /* margin-left: 220px; */
}
.welcome, span {
    margin: 15px 0;
}

.welcome-btn {
    margin: 40px 0;
    text-transform: uppercase;
}

.left, .right {
    border: solid black 1px;
    margin: 0 25px;
    font-size: 22px;
    padding: 5px 25px;
}

.left:hover, .right:hover {
    background: #293d3d;
    border: solid #595959 1px;
    color: #fff;
}

.welcome-subtitle {
    margin-top: 0;
}

Link, a {
    text-decoration: none;
    margin: 0 35px 10px 35px;
    letter-spacing: 2px;
    font-weight: 400;
    /* color: #747472; */
}

.welcome-btn, Link, a {
    text-decoration: none;
    /* margin: 0 35px 10px 35px; */
    letter-spacing: 2px;
    font-weight: 400;
    color: #747472;
}

li {
    list-style: none;
        /* border: solid red 1px; */

}

ul {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px; 
    font-weight: 400;
    padding-top: 10px;
    /* border: solid red 1px; */
}

.main-nav {
    border-bottom: solid #747472 1px;
    padding-bottom: 1px;
}

.home {
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* border: solid red 1px; */
}

.colorblock-one {
    background: #ece9e7;    
    width: 48vw;
    height: 87vh;
}

.colorblock-two {
    background: #f3f0ed;
    width: 48vw;
    height: 82vh;
}

blockquote {
    font-size: 25px;
        /* border: solid red 1px; */
        font-family: 'Roboto', sans-serif;
        padding-bottom: 55px;
}

#contact {
    width: 100vw;
    height: 100vh;
    /* font-size: 60px; */
    /* border: solid red 1px; */
}